strong {
  font-weight: 400;
}

.logo-text {
    padding: 0 0 65px;
    width: 80%;
    margin: 0 auto;
}

.slide {
    padding-top: 50px;
}

.slide-1 {
    background: #c0eef2 ;
    // background: url(/img/background.png) repeat center center;
    border-bottom: 3px solid #000;
    position: relative;
}

.slide-2 {
    padding-top: 140px;
}

.slide-3 {
    background: #c0eef2;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333;
    z-index:-1;
}

.slide-4 {

}

.slide-5 {

}

#contact-grid {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
}

#chat {
  grid-column: 1;
  grid-row: 1 / 3;
}

#email {
  grid-column: 2;
  grid-row: 1;
}

#web {
  grid-column: 2;
  grid-row: 2;
}

.narwhal-landing {
    position: relative;
    bottom: -16px;
    left: 0;
    right: 0;
    margin-bottom: -200px;
}

.footer {
    padding: 100px 0;
}

// Timeline pattern

.path-container {
  margin-top: 50px;
  margin-bottom: 70px;
}
.path-container .path-item h1 {
  text-align: center;
  margin-bottom: 70px;
}
.path-container .path-item h3 {
  margin-bottom: 10px;
  line-height: 1.15;
}
.path-container .path-item p {
  font-size: emCalc(16px);
  line-height: 1.7;
  margin-bottom: 25px;
}
.path-container .path-item a {
  font-weight: bold;
  font-size: emCalc(14px);
}
.path-container .path-item .circle {
  background-color: #fff;
  background-size: 156px 156px;
  border-radius: 50%;
  width: 156px;
  height: 156px;
  position: relative;
  margin-bottom: 60px;
  z-index: 2;
}
.path-container .path-item .circle.circle-left {
  left: 7px;
}
.path-container .path-item .circle.circle-right {
  right: 7px;
}
.path-container .line {
  background: #fff;
  width: 5px;
  bottom: 0;
  position: absolute;
  top: 160px;
  left: 49.5%;
  z-index: 0;
  height: 1000px;
}

.icon {
  position:relative;
  font-size: 100px;
  text-align: center;
  top: 25px;
}


/*------------------------------------
 medium timeline styles
------------------------------------*/
@media only screen and (max-width: 800px) and (min-width: 768px) {
  .line {
    display: none !important;
  }

  .large-5.columns.path-text {
    width: 70%;
    right: 0;
    margin-left: 15px;
  }

  .path-item .large-7 {
    width: 25%;
  }

  .push-5 {
    left: 0;
    float: right;
  }

  .circle-right {
    float: left;
    right: 0px !important;
  }

  .circle-left {
    left: 0px !important;
  }
}

/*------------------------------------
 mobile timeline styles
------------------------------------*/
@media only screen and (max-width: 767px) {
  .path-container {
    text-align: center;
  }
  .path-container .circle {
    top: 0;
    right: 0;
    left: 0;
    float: none;
    margin-bottom: 30px !important;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
