<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>14</daysToKeep>
        <numToKeep>14</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@3.3.2">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <refspec>+refs/heads/master:refs/remotes/origin/master</refspec>
        <url>https://github.com/rackerlabs/repose</url>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/master</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="list"/>
    <extensions/>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.TimerTrigger>
      <spec>@midnight</spec>
    </hudson.triggers.TimerTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <com.checkmarx.jenkins.CxScanBuilder plugin="checkmarx@8.5.0">
      <useOwnServerCredentials>false</useOwnServerCredentials>
      <serverUrl>https://codescan.seceng.rackspace.net</serverUrl>
      <username></username>
      <password>{AQAAABAAAAAQ31QH9GdBIYK1gQDveX0NPkrjgeleR9y/SQTxOGOTBH8=}</password>
      <projectName>repose</projectName>
      <groupId>be845695-d5bd-4f67-8f46-efd6fb7b7035</groupId>
      <projectId>0</projectId>
      <preset>36</preset>
      <presetSpecified>false</presetSpecified>
      <globalExclusions>false</globalExclusions>
      <excludeFolders>test, tests, integrationTest</excludeFolders> 
      <filterPattern>
        !**/_cvs/**/*, !**/.svn/**/*, !**/.hg/**/*, !**/.git/**/*, !**/.bzr/**/*, !**/bin/**/*, !**/obj/**/*, !**/backup/**/*, !**/.idea/**/*, !**/*.DS_Store, !**/*.ipr, !**/*.iws, !**/*.bak, !**/*.tmp, !**/*.aac, !**/*.aif, !**/*.iff, !**/*.m3u, !**/*.mid,
        !**/*.mp3, !**/*.mpa, !**/*.ra, !**/*.wav, !**/*.wma, !**/*.3g2, !**/*.3gp, !**/*.asf, !**/*.asx, !**/*.avi, !**/*.flv, !**/*.mov, !**/*.mp4, !**/*.mpg, !**/*.rm, !**/*.swf, !**/*.vob, !**/*.wmv, !**/*.bmp, !**/*.gif, !**/*.jpg, !**/*.png, !**/*.psd,
        !**/*.tif, !**/*.swf, !**/*.jar, !**/*.zip, !**/*.rar, !**/*.exe, !**/*.dll, !**/*.pdb, !**/*.7z, !**/*.gz, !**/*.tar.gz, !**/*.tar, !**/*.gz, !**/*.ahtm, !**/*.ahtml, !**/*.fhtml, !**/*.hdm, !**/*.hdml, !**/*.html, !**/*.adoc, !**/*.hsql, !**/*.ht,
        !**/*.hta, !**/*.htc, !**/*.htd, !**/*.war, !**/*.ear, !**/*.htmls, !**/*.ihtml, !**/*.mht, !**/*.md, !**/*.mhtm, !**/*.mhtml, !**/*.ssi, !**/*.stm, !**/*.stml, !**/*.ttml, !**/*.txn, !**/*.xhtm, !**/*.xhtml, !**/*.class, !**/*.iml, !**/*.gradle,
        !**/*.xsd, !**/*.xml, !**/*.xsl, !**/*.exec, !**/*.bin, !Checkmarx/Reports/*.*
      </filterPattern>
      <incremental>false</incremental>
      <fullScansScheduled>false</fullScansScheduled>
      <fullScanCycle>10</fullScanCycle>
      <isThisBuildIncremental>false</isThisBuildIncremental>
      <sourceEncoding>5</sourceEncoding>
      <comment></comment>
      <skipSCMTriggers>false</skipSCMTriggers>
      <waitForResultsEnabled>true</waitForResultsEnabled>
      <vulnerabilityThresholdEnabled>false</vulnerabilityThresholdEnabled>
      <generatePdfReport>true</generatePdfReport>
      <osaEnabled>false</osaEnabled>
      <includeOpenSourceFolders></includeOpenSourceFolders>
      <excludeOpenSourceFolders></excludeOpenSourceFolders>
      <jobStatusOnError>GLOBAL</jobStatusOnError>
      <exclusionsSetting>job</exclusionsSetting>
      <vulnerabilityThresholdResult>
        <name>FAILURE</name>
        <ordinal>2</ordinal>
        <color>RED</color>
        <completeBuild>true</completeBuild>
      </vulnerabilityThresholdResult>
      <avoidDuplicateProjectScans>true</avoidDuplicateProjectScans>
    </com.checkmarx.jenkins.CxScanBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>
