<?xml version="1.0" encoding="UTF-8"?>

<valkyrie-authorization xmlns="http://docs.openrepose.org/repose/valkyrie-authorization/v1.0"
                        cache-timeout-millis="300000">
    <valkyrie-server uri="http://localhost:6060" username="user1" password="12345"/>
    <translate-permissions-to-roles/>
</valkyrie-authorization>
