## java specific
!.gitignore
*.iml
*.iws
*.ipr
target
*/target
*/*/target

## vim objects
*.swo
*.swp

## Build helper scripts
*.bhs

## Netbeans
catalog.xml
nbactions.xml

## IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
jmeter.log

## rcman
rcman.conf
rcman.log
rsInstances
nodeNames
hosts.csv
automation/rcman/files/*
