<?xml version="1.0" encoding="UTF-8"?>

<keystone-v2 xmlns="http://docs.openrepose.org/repose/keystone-v2/v1.0">
    <identity-service
            username="{{ repose.config.keystone_v2.username }}"
            password="{{ repose.config.keystone_v2.password }}"
            uri="{{ repose.config.keystone_v2.uri }}"
            set-groups-in-header="true"
            set-catalog-in-header="false"
            />
    <white-list>
        <uri-regex>^$</uri-regex>
        <uri-regex>/buildinfo</uri-regex>
        <uri-regex>/get</uri-regex>
    </white-list>
</keystone-v2>
