Package: repose-cli-utils
Version: [[version]]
Section: misc
Priority: optional
Architecture: all
Maintainer: Repose Dev <repose-dev@openrepose.org>
Description: Debian Package for the Repose Valve
Homepage: http://openrepose.org
Depends: java7-runtime-headless
Recommends: repose-valve | repose-war
