<footer class="footer">
    <div class="row">
        <div class="medium-12 columns text-center">
            <div class="row">
                <div class="medium-12 columns small-centered">
                    <p><a href="https://rackspace.com"><img src='/img/Rackspace_Wordmark_Red.png'></a></p>

                    <p>© Copyright 2014 Rackspace</p>

                    <div class="icon"><a href="https://github.com/rackerlabs/repose"><i
                            class="fi-social-github"></i></a>
                        <a href="https://twitter.com/openrepose"><i class="fi-social-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/vendor/jquery.js"></script>
<script src="/js/foundation/foundation.js"></script>
<script src="/js/foundation/foundation.topbar.js"></script>
<script type="application/javascript" src="/js/script.js"></script>
</body>

</html>
