<option value="latest">Latest</option>
<option value="8.10.0.0">v8.10.0.0</option>
<option value="8.9.1.0">v8.9.1.0</option>
<option value="8.9.0.1">v8.9.0.1</option>
<option value="8.9.0.0">v8.9.0.0</option>
<option value="8.8.4.0">v8.8.4.0</option>
<option value="8.8.3.0">v8.8.3.0</option>
<option value="8.8.2.0">v8.8.2.0</option>
<option value="8.8.1.0">v8.8.1.0</option>
<option value="8.8.0.0">v8.8.0.0</option>
<option value="8.7.3.0">v8.7.3.0</option>
<option value="8.7.2.0">v8.7.2.0</option>
<option value="8.7.1.0">v8.7.1.0</option>
<option value="8.7.0.2">v8.7.0.2</option>
<option value="8.7.0.1">v8.7.0.1</option>
<option value="8.7.0.0">v8.7.0.0</option>
<option value="8.6.3.0">v8.6.3.0</option>
<option value="8.6.2.0">v8.6.2.0</option>
<option value="8.6.1.1">v8.6.1.1</option>
<option value="8.6.0.0">v8.6.0.0</option>
<option value="8.5.0.1">v8.5.0.1</option>
<option value="8.4.1.0">v8.4.1.0</option>
<option value="8.4.0.2">v8.4.0.2</option>
<option value="8.4.0.1">v8.4.0.1</option>
<option value="8.3.0.1">v8.3.0.1</option>
