{
    saml_simulation: {
        payloads_dir: "{{ gatling.payloads.dest_dir }}",
        accept_types: [ "application/json", "application/xml" ],
        issuers: {
            total_number: {{ gatling.test.params.saml.num_of_issuers }},
            include_legacy: {{ gatling.test.params.saml.include_legacy_issuer | lower }}
        },
        xml_body: {{ gatling.test.params.saml.xml_body | lower }}
    }
}