<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- Import Repose Services -->

    <context:component-scan base-package="com.rackspace,org.openrepose"/>

    <context:annotation-config/>
    <!-- <context:mbean-export/> -->

    <!-- I don't think this needs to be lazily instantiated any more, now that we tie the servlet context
     to the application context. The original code just initialized it anyway when the servlet context -->
    <bean id="exporter" class="org.springframework.jmx.export.annotation.AnnotationMBeanExporter">
        <property name="namingStrategy" ref="reposeJmxNamingStrategy"/>
    </bean>

    <bean id="jmxAttributeSource"
          class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource"/>

    <bean name="reposeVersion" class="java.lang.String">
        <constructor-arg type="java.lang.String" value="${reposeVersion}"/>
    </bean>
</beans>
