<?xml version="1.0" encoding="UTF-8"?>

<distributed-datastore xmlns='http://docs.openrepose.org/repose/distributed-datastore/v1.0'>
    <allowed-hosts>
        {% for node in groups.performance %}
            <allow host="{{ hostvars[node]['ansible_eth0']['ipv4']['address'] }}"/>
        {% endfor %}
    </allowed-hosts>

    <port-config>
        <port port="9898"/>
    </port-config>
</distributed-datastore>
