<?xml version="1.0" encoding="UTF-8"?>
<saml-policy xmlns="http://docs.openrepose.org/repose/samlpolicy/v1.0">
  {% if repose.config.saml.policy_bypass_issuers is defined %}
    <policy-bypass-issuers>
      {% for issuer in repose.config.saml.policy_bypass_issuers %}
        <issuer>{{ issuer }}</issuer>
      {% endfor %}
    </policy-bypass-issuers>
  {% endif %}
    <policy-acquisition>
        <keystone-credentials uri="{{ repose.config.keystone_v2.uri }}"
                              username="{{ repose.config.keystone_v2.username }}"
                              password="{{ repose.config.keystone_v2.password }}"
                              connection-pool-id="default"/>
        <policy-endpoint uri="{{ repose.config.keystone_v2.uri }}"
                         connection-pool-id="default"/>
        <cache ttl="{{ repose.config.saml.cache.ttl }}"/>
    </policy-acquisition>
    <signature-credentials keystore-filename="{{ repose.config.saml.signature_credentials.keystore_filename }}"
                           keystore-password="{{ repose.config.saml.signature_credentials.keystore_password }}"
                           key-name="{{ repose.config.saml.signature_credentials.key_name }}"
                           key-password="{{ repose.config.saml.signature_credentials.key_password }}"/>
</saml-policy>