<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Repose Root Web Application</display-name>
    <description>Proxies for fun</description>

    <!-- This tells Power API where to look for its configurations -->
    <context-param>
        <param-name>powerapi-config-directory</param-name>
        <param-value>${repose.config.directory}</param-value>
    </context-param>
    <context-param>
        <param-name>repose-cluster-id</param-name>
        <param-value>${repose.cluster.id}</param-value>
    </context-param>

    <context-param>
        <param-name>repose-node-id</param-name>
        <param-value>${repose.node.id}</param-value>
    </context-param>

    <listener>
        <display-name>Repose Context Loader</display-name>
        <listener-class>com.rackspace.papi.service.context.impl.PowerApiContextManager</listener-class>
    </listener>

    <!-- Servlets -->
    <servlet id="power-api-servlet">
        <servlet-name>empty-servlet</servlet-name>
        <servlet-class>com.rackspace.papi.EmptyServlet</servlet-class>
    </servlet>

    <servlet-mapping id="power-api-servlet-mapping">
        <servlet-name>empty-servlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <!-- Filters -->
    <filter id="power-api-filter">
        <filter-name>power-api-filter</filter-name>
        <filter-class>com.rackspace.papi.filter.ValvePowerFilter</filter-class>
    </filter>

    <filter-mapping id="power-api-filter-mapping">
        <filter-name>power-api-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
</web-app>
