<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>ATOMpub Prototype Server</display-name>
    <description>ATOM</description>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/META-INF/application-context.xml</param-value>
    </context-param>

    <listener>
        <display-name>Spring Context Loader</display-name>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <servlet id="atom-hopper">
        <servlet-name>Atom-Hopper</servlet-name>
        <servlet-class>net.jps.atom.hopper.AtomHopperServlet</servlet-class>

        <init-param>
            <param-name>config-directory</param-name>
            <param-value>/tmp/atom-server</param-value>
        </init-param>

        <init-param>
            <param-name>context-adapter-class</param-name>
            <param-value>net.jps.atom.hopper.servlet.context.impl.ServletSpringContext</param-value>
        </init-param>
    </servlet>

    <servlet-mapping id="atom-hopper-mapping">
        <servlet-name>Atom-Hopper</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
