<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Repose</title>

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css">
</head>
<body>
  {{ content }}
  <footer class="footer">
      <div class="row">
        <div class="medium-12 columns text-center">
          <div class="row">
            <div class="medium-12 columns small-centered">
              <p>© Copyright 2014 Rackspace</p>
            </div>
          </div>
        </div>
      </div>
    </footer>
  <script type="application/javascript" src="{{ site.baseurl }}/js/script.js"></script>
</body>
</html>
