<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
        "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">


    <module name="FileTabCharacter"/>


    <module name="TreeWalker">


        <module name="Regexp">
            <property name="format" value="[^\s-]\{"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Space before left brace"/>
        </module>

        <module name="Regexp">
            <property name="format" value="for[^\s-]\(|if[^\s-]\(|while[^\s-]\(|switch[^\s-]\(|try[^\s-]\(|catch[^\s-]\(|synchronized[^\s-]\("/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Space before paren of if, for, while, switch, try, catch, synchronized"/>
        </module>

        <module name="WhitespaceAfter"/>

        <module name="LeftCurly">
            <property name="option" value="eol"/>
        </module>

        <module name="Regexp">
            <property name="format" value="[^\s-]else|[^\s-]catch|[^\s-]finally|[^\s-]while"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Space before else, catch, or finally"/>
        </module>

        <module name="Regexp">
            <property name="format" value="\n\n\n\n"/>
            <property name="illegalPattern" value="true"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Maximum 2 blank lines"/>
        </module>



    </module>
</module>